<h1><%= @artist.name %>'s Edit Page</h1>

<%= form_for(@artist) do |f| %>
  <%= f.label "Name:" %>
  <%= f.text_field :name %><br>

  <%= f.label "Biography:" %><br>
  <%= f.text_area :bio %><br>

  <%= f.submit %>
<% end %>